@model TaxiRouteDetailsModel
@{
    ViewBag.title = "TaxiRoutes Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrlRouteGoogleMaps" alt="Taxi Route Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Title</u></p>
            <p>Pickup from in: <b>@Model.PickUpAddress</b></p>
            <p>Arrive in: <b>@Model.DeliveryAddress</b></p>
            <p>
                Price Per Trip:
                <b>@String.Format("{0:f2}", Model.Price) BGN</b>
            </p>
            <p>@Model.Description</p>
            <p>Category: <b>@Model.Category</b></p>
            <p><i>(@(Model.IsRented ? "Rented" : "Not Rented"))</i></p>
            <div class="form-inline">
                @if (this.User?.Identity != null && this.User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-warning" asp-controller="TaxiRoute" asp-action="Edit"
                   asp-route-id="@Model.TaxiRouteId">Edit</a>
                    <a class="ml-2 btn btn-danger" asp-controller="TaxiRoute" asp-action="Delete"
                   asp-route-id="@Model.TaxiRouteId">Delete</a>
                    @if (!Model.IsRented)
                    {
                        <form class="ml-2" asp-controller="TaxiRoute"
                      asp-action="Rent" asp-route-id="@Model.TaxiRouteId" method="post">
                            <input class="btn btn-primary" type="submit" value="Rent" />
                        </form>
                    }
                    else
                    {
                        <form class="ml-2" asp-controller="TaxiRoute" asp-action="Leave"
                      asp-route-id="@Model.TaxiRouteId" method="post">
                            <input class="btn btn-primary" type="submit" value="Leave" />
                        </form>
                    }
                }
            </div>
            <p></p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">DriverCar Info</h5>
                    <p class="card-text">Email:  @Model.DriverCar.Email</p>
                    <p class="card-text">Phone Number: @Model.DriverCar.PhoneNumber</p>
                </div>
            </div>
        </div>
    </div>
</div>
