@using TaxiBookingApp.Core.Extensions
@using TaxiBookingApp.Core.Models.OfficeM


@model OfficeQueryModel
@{
    ViewData["Title"] = "Offices";
    bool first = true;
}

@if (Model.AddedOfficesCaout == 0)
{
    <div class="mt-4 p-5 bg-light">
        <h1 class="display-4">Welcome to the best place for book a trip!</h1>
        <p class="lead">
            There are no offices in the system currently available
            so why don't you just add one?
        </p>
        <hr class="my-4">
        <p class="lead">
            @if (this.User?.Identity != null && this.User.Identity.IsAuthenticated)
            {
                <a asp-controller="Office" asp-action="All" class="btn btn-primary btn-lg"
                 role="button">All</a>
            }
        </p>
    </div>
}

<div class="mb-5"></div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @foreach (var office in Model.Offices)
        {
            <div class="carousel-item @(first ? "active" : string.Empty)">

                <img class="d-block w-100" style="height:500px"
                 src="@office.OfficeImageUrl" alt="@office.City">
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        <a class="btn btn-primary" asp-controller="Office" asp-action="All"
                       asp-route-id="@office.City" asp-route-information="@office.Country"> @office.Phone</a>
                    </h5>
                </div>
            </div>

            @(first = false);
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

